[Desktop Entry]
Version=1.0
Type=Application

Name=mhserver-client
Comment=Client app for mhserver
Categories=Office;Qt;

Icon=mhserver-client
Exec=mhserver-client
Terminal=false